html {
  overflow-y: scroll;
}

body {
  background: rgb(255, 136, 136);
  background: radial-gradient(
    circle,
    rgb(114, 187, 255) 0%,
    rgb(133, 188, 227) 49%,
    rgba(209, 247, 253, 1) 100%
  );
  font-family: Arial;
  overflow: hidden;
}

/* Top Nav bar css Starts */

#logoimg {
  width: 200px;
  height: 50px;
}

.navbar {
  background: rgb(0, 2, 124);
  background: linear-gradient(
    90deg,
    rgb(5, 0, 63) 0%,
    rgb(5, 59, 116) 43%,
    rgb(0, 47, 104) 100%
  );
}

.signup button:hover {
  background-color: rgb(26, 155, 3);
}

/* Links of navigation bar home, about us etc */
#links a {
  text-decoration: none;
  font-size: 16px;
  text-decoration: none;
  color: #b1d1fd;
  border-radius: 5px;
  padding: 10px;
}

#links {
  align-self: center;
}

#links a:hover {
  color: #f1f7ff;
  background-color: rgb(80, 109, 255);
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-links li {
  margin: 0 30px;
  text-decoration: none;
}

.nav-links li:last-child {
  margin-right: 0;
}

/* Top Navbar Ends */

/* Side navbar starts */
.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMDWg8XyDVIVQQRAxLEeGP6ziCQ0-CwcnDOw&usqp=CAU");
  background-size: cover;
  transition: 1s;
}

.profile_image:hover {
  box-shadow: 0 0 10px rgba(0, 16, 81, 0.6);
  width: 120px;
  height: 120px;
}

.main hr {
  width: 100%;
  margin: 20px 0px 20px;
}

.card {
  background: rgb(190, 185, 255);
  background: linear-gradient(
    90deg,
    rgb(198, 194, 253) 0%,
    rgba(130, 191, 255, 1) 43%,
    rgba(165, 205, 255, 1) 100%
  );
}

.side_navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(3, 3, 33, 0.6);
  box-shadow: 1px 1px 8px 0 rgb(0, 0, 0);
  border-radius: 10px;
  margin-right: 50px;
  background: rgb(190, 185, 255);
  background: linear-gradient(
    90deg,
    rgb(198, 194, 253) 0%,
    rgba(130, 191, 255, 1) 43%,
    rgba(165, 205, 255, 1) 100%
  );
}

.url a {
  text-decoration: none;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 15px;
  padding: 10px;
  transition: 0.5s;
}

.url a:hover {
  color: white;
  background-color: rgb(1, 82, 163);
  border-radius: 30px;
}

/* Side Navbar Ends */

/* Personal details part starts */
.main .card table {
  border: none;
  font-size: 16px;
  height: 270px;
  width: 100%;
  color: rgb(0, 0, 0);
}

.main .card {
  border: 2px solid black;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 rgb(0, 0, 0);
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}
/* Personal Details part ends */

/* Social media */
.social-media {
  text-align: center;
  width: 90%;
}

#dock {
  background-color: rgb(0, 140, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

.dock-item {
  background-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.7s;
}

.dock-item:hover {
  width: 60px;
  height: 60px;
  background-color: transparent;
}
/* Social media ends */